@font-face {
    font-family: 'mR';
    src: url(../font/Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'mR';
    text-decoration: none;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: var(--primary-color)!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/background_image.png);
}